<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710676392023-vsi6l95hj3tom52v2uldq7s1ff8va9sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710676392023-vsi6l95hj3tom52v2uldq7s1ff8va9sp</string>
	<key>API_KEY</key>
	<string>AIzaSyCxXA5h4nt8_89MUxk1h5miwEZXwQwkdUk</string>
	<key>GCM_SENDER_ID</key>
	<string>710676392023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hayyimsTeam.Messenger</string>
	<key>PROJECT_ID</key>
	<string>hayyimsmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>hayyimsmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710676392023:ios:a420cd4f2b0ead1d4b5b12</string>
	<key>DATABASE_URL</key>
	<string>https://hayyimsmessenger-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>